#banner{
  border: 1px solid red;
  height: 350px;
  margin-top: 70px;
}

.swiper-container{
  height: 100%;
}

.background, .carousel, .carousel-item, .carousel-inner{
  height: 100%;
}

.carousel-item{
  /* background-image: url('../src/rose.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
