.itemWrapper{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.col{
    margin-top: 20px;
}

.img{
    width: auto;
    min-height: 200px;
    border: 1px solid green;
  }
  
  .description{
    width: auto;
    height: 175px;
    border: 1px solid red;
  }

  p{
    text-overflow: ellipsis;
    max-height: 24px;
    overflow: hidden;
    white-space: nowrap;
  }